.row {
    background: #e3de4d;
    height: 300px;
}

.row div {
    text-align: center;
    height: 100px;
}

.row div:nth-child(odd) {
    background: #4e45c6;
}

.row div:nth-child(even) {
    background: #51c645;
}