body {
font-size: 14px;
}

.container { 
    margin-top: 10px;
}

.col-12 { 
    margin-top: 20px;
}

.carousel-indicators li:hover {
cursor: pointer;
}
.row {
margin-bottom: 30px;
}
span {
background: #f5f5f5;
}

.parents-block { 
    display: block; 
    width: 100%; 
    position: relative;
}

.chield {
display: inline-block;
position: relative;
width: 100px;
height: 100px;
margin: 10px;
background: blue;
}
